@import "./utils/variables";
@import "./components/mixin";
@import "./components/global";
@import "./components/web-header";
@import "./components/logo";
@import "./components/contact";
@import "./components/navigation";
@import "./components/page-banner";
@import "./components/form-modal";
@import "./components/chekbox-label";
@import "./components/modal-btn";
@import "./components/address";
@import "./components/card-team";
@import "./components/main-list";
@import "./components/page-footer";
@import "./components/social-media";
@import "./components/whatwedo_section";
@import "./components/our-clients";
@import "./components/section-team";
@import "./components/widget";
@import "./components/newsletter";
@import "./components/overlay_animation";
@import "./components/card-portfolio";
@import "./components/gallery";
@import "./components/portfolio-menu";
